.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
}
.h1{
    font-size: 2rem;
    text-align: center;
    
}
.keyboard{
    align-self: stretch;
}
